.clickable-row:hover{
  background: #eee;
}

body{
  background-color: #eee;
}

.table{
  background: white;
}

.table td:hover{
  background: #eee;
}

.table input{
  background: transparent;
}

.add-link{
  border-radius: 8px;
  box-shadow: none;
  background: transparent;
}

.add-link:hover{
  background: transparent;
}

td > .input-group > .input-group-btn,
th > .input-group > .input-group-btn{
  visibility: hidden;
}

td:hover > .input-group > .input-group-btn,
th:hover > .input-group > .input-group-btn {
  visibility: visible;
}

.fade {
  opacity: 0.2;
  transition: opacity 0.1s linear;
}

.margin-top{
  margin-top: 20px;
}

.full-height{
  min-height: 100%;
  height: 100%;
}