body{
  padding-top: 51px;
}

.clickable-row:hover{
  background: #eee;
}

footer{
  z-index: -1;
  opacity: .99;
}

.table{
  background: white;
}

.table td:hover{
  background: #eee;
}

.table input{
  background: transparent;
}

.add-link{
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.add-link:hover{
  background: transparent;
}